{
  "presets": [
    "es2015",
    "stage-1"
  ],
  "plugins": [
    "lodash",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }],
    ["__coverage__", {
      "only": "src/"
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "__coverage__"
      ]
    }
  }
}
