{
  "extends": [
    "defaults/rules/eslint/best-practices/airbnb",
    "defaults/rules/eslint/errors/airbnb",
    "defaults/rules/eslint/es6/airbnb",
    "defaults/rules/eslint/legacy/airbnb",
    "defaults/rules/eslint/node/airbnb",
    "defaults/rules/eslint/strict/airbnb",
    "defaults/rules/eslint/style/airbnb",
    "defaults/rules/eslint/variables/airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "semi": [2, "never"],
    "no-return-assign": 0
  }
}
