.ay-toolbar {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  user-select: none;

  .item {
    float: left;
    padding: (@ay-toolbar-item-size / 3) (@ay-toolbar-item-size / 2);
    font-size: @ay-toolbar-item-size;
    text-align: center;
    line-height: 1;
    color: @ay-toolbar-item-color;
    background: @ay-toolbar-item-bg;
    cursor: pointer;
    &:hover {
      background: lighten(@ay-toolbar-item-bg, 10);
    }
    & + .item {
      margin-left: (@ay-toolbar-item-size / 4);
    }

    .icon {
      font-size: @ay-toolbar-item-size * 1.5;
      margin-right: (@ay-toolbar-item-size / 2);
    }
  }
}
