<div class="ay-toolbar">
  <a href="http://www.github.com/dev-coop/anny/" class="item github">
    <i class="icon ion-social-github"></i>
  </a>

  <div class="divider"></div>

  <div class="item" ng-click="resetNet()">
    <i class="icon ion-ios-reload"></i>reset
  </div>
  <div class="item" ng-click="randomNet()">
    <i class="icon ion-ios-shuffle"></i>rand
  </div>
  <div class="item" ng-click="net2048()">
    <i class="icon ion-grid"></i>2048
  </div>
  <div class="item" ng-click="activateRandom()">
    <i class="icon ion-ios-pulse"></i>activate
  </div>

  <div class="divider"></div>

  <div class="item" ng-click="trainORGate()">
    <i class="icon ion-ios-lightbulb-outline"></i>OR
  </div>
  <div class="item" ng-click="trainXORGate()">
    <i class="icon ion-ios-lightbulb-outline"></i>XOR
  </div>
  <div class="item" ng-click="trainANDGate()">
    <i class="icon ion-ios-lightbulb-outline"></i>AND
  </div>
  <div class="item" ng-click="trainNANDGate()">
    <i class="icon ion-ios-lightbulb-outline"></i>NAND
  </div>
  <div class="item" ng-click="train2048()">
    <i class="icon ion-ios-lightbulb-outline"></i>2048
  </div>
</div>
